@font-face {
    font-family: neue;
    src: url(./Neue-Haas.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: neue;
    scroll-behavior: smooth;
    
}
*::selection{
    background-color: black;
    color: white;
}
   

html,body{
    width: 100%;
    height: 100%;
    background-color: #EFEAE3;
}
#main{
    z-index: 10;
    position: relative;
}
#page1{
    background-color: #EFEAE3;
    width: 100%;
    position: relative;
    padding: 0 2vw;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
}
#nav-part2 h4{
    padding: 1vw 2vw;
    border: 1px solid rgba(0, 0, 0, 0.523);
    border-radius: 2vw;
    font-weight: 500;
    font-size: 1.3vw;
    position: relative;
    /* z-index: 9; */
    overflow: hidden;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: 0.5s;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h4 a{
   text-decoration: none;
   color: black;
   z-index: 9;
   position: relative;
  
}
#nav-part2 h4:hover a{
    color: white;
}
#center{
    width: 100%;
    /* background-color: palevioletred; */
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.521);
    padding-bottom: 2.5vw;
    margin-top: 5.5vw;

}
#left h3{
max-width: 30vw;
font-size: 1.8vw;
line-height: 2vw;
}
#right h1{
    font-size: 10vw;
    line-height: 9vw;
    text-align: right;

}
#page1 video{
    width: 100%;
    border-radius: 2vw;
    margin-top: 4vw;
    position: relative;
}
#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 75vh;
    
}
#hero-1{
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #fe3201;
    filter: blur(20px);
    position: absolute;
}
#hero-2{
    height: 30vw;
    width: 30vw;
   border-radius: 50%;
   background: linear-gradient(#fe3201,#fe3f0a);
    filter: blur(20px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#hero-3{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: linear-gradient(#fe3201,#fe3f0a);
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anime1{
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,-10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,30%);
    }
}

#page2{
    width: 100%;
    background-color: #EFEAE3;
    padding: 5vw 0;
    position: relative;
}
#movieng-text{
    display: flex;
    overflow-x: auto;
}
#movieng-text::-webkit-scrollbar{
    display: none;
}
#movieng-text h1{
font-size: 9vw;
display: inline-block;
}
.con{
    white-space: nowrap;
    display: flex;
    align-items: center;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#gola{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fe3201;
    margin: 0 3vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    width: 100%;
    display: flex;
   
    justify-content: space-between;
    padding: 5vw 4vw;
    padding-top: 10vw;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
   font-size: 4vw;
   width: 50%;
   line-height: 4vw;
}
#bottom-part2 {
    width: 20%;
    margin-top: 5vw;
}
#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-part2 p{
    font-weight: 100;
    margin-top: 2vw;
}
#page2 #gooey{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#fe3201,#fe3f0a);
    top: 60%;
    left: 24%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes gooey {
    from{
        transform: translate(10%,-10%)  skew(0);
    }
    to{
        transform: translate(-10%,10%) skew(-12deg);
    }
}
#page3{
    width: 100%;
    padding: 2vw 0;
    background-color: #EFEAE3;
}
.elem{
    /* height: 150px; */
    width: 100%;
   border-bottom: 1px solid rgba(0, 0, 0, 0.642);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
  
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: 0.2s;
}
.elem:hover .overlay{
    top: 0;
}

#elem-right{
    position: relative;
    z-index: 9;
    text-align: end;
    margin-bottom: 1vw;
    font-weight: 100;
}
#elem-right span{
    color: gray;
    font-weight: 100;
}
#page3-top{
    display: flex;
    align-items: center;
    padding: 2vw 2vw;
    gap: 1vw;

}
#page3-top div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fe3201;
}
#fixed-image{
    height: 30vw;
    width: 23vw;
    background-color: #fe3201;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
   
}
#page3-top h4{
    padding: 1vw 2vw;
    border: 1px solid rgba(0, 0, 0, 0.523);
    border-radius: 2vw;
    font-weight: 500;
    font-size: 1.3vw;
    position: relative;
    /* z-index: 9; */
    overflow: hidden;
}
#page3-top h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: 0.5s;
}
#page3-top h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#page3-top h4 a{
   text-decoration: none;
   color: black;
   z-index: 9;
   position: relative;
}
#page3-top h4:hover a{
    color: wheat;
}
#page4{
    width: 100%;
   background-color: #EFEAE3;
    padding: 2vw;
   
}
#box-page4{
   
    display: flex;
    border-radius: 2vw;
    background-color: black;
}
#page4-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: white;
   
    flex-direction: column;
    overflow: hidden;
   
}
.h1{
    border-left:2px solid #504A45;
}
#page4-box h1{
    font-size: 4vw;
}
#page4-box:nth-child(1){
   padding:0 4vw;
}
#page4-box h1:nth-child(2){
    color: #504A45;
    margin-left: 2vw;
}
.page4-left p{
    margin-top: 1vw;
}
#page4-box img{
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
    scale: 1.1;
}

#page5{
    width: 100%;
    background-color: #EFEAE3;
    padding: 2vw 3vw;
}
#page6{
    width: 100%;
}

#footer{
    position: fixed;
    z-index: 9;
    min-height: 100vh;
    bottom: 0;
    z-index: 9;
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position:relative;
    overflow: hidden;

}
#footer h1{
    font-size: 24vw;
    position: relative;
    z-index: 9;
}
#footer-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    position: relative;
    z-index: 9;

}
#footer-div h2{
    font-size: 2vw;
}
.right-footer p{
    font-size: 1.5vw;
}
.right-footer input{
   width: 100%;
   padding: 1vw 0;
   background-color: transparent;
   outline: 0;
   border: 0;
   margin-top: 1vw;
   font-size: 1.3vw;
   
}

#footer-end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    border-top: 2px solid white;
    position: relative;
    z-index: 9;
}

#footer-end a{
    color: white;
    text-decoration: none;
}


.swiper {
    width: 100%;
    height: 100%;
    padding: 2vw 0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
    display: flex;
   flex-direction: column;
   gap: 1vw;
    border-left: 1px solid #2a2929f4;
    justify-content: center;
    align-items: start;
    text-align: left;
    padding: 1vw 2vw;
  }
  .swiper-slide p{
    font-size: 1.5vw;
    color: #2a2929f4;
  }
  .swiper-pagination{
    margin-top: 5vw;
  }

  .swiper-slide img {
   width: 100%;
  }

  .swiper-slide {
    width: 30%;
  }

#check{
    display: none;
}
label {
    position: absolute;
   
    display: none;
}
.footer-box{
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #fe330a;
    filter: blur(15px);
    right: -40%;
    top: -20%;
    animation-name: shap2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.footer-box1{
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #fe330a;
    filter: blur(15px);
    left: -60%;
    top: -20%;
    animation-name: shap2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes shap2 {
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
  @media  (max-width:600px) {
    #nav-part2{
        display: none;
        flex-direction: column;
        position: absolute;
       right: 62px;
       top: 15px;
    }
    label{
        display: block;
        font-size: 7vw;
        top: 20px;
        right: 20px;
    }
    #check:checked~#nav-part2{
       display: block;
    }
    #nav-part2 h4{
        margin-top: 10px;
    }
    #nav-part2 h4 {
        font-size: 3.3vw;
    }
    #left h3 {
        max-width: 35vw;
        font-size: 4vw;
        line-height: normal;
    }
    #hero-shape {
        display: none;
    }
    #gola {
        height: 30px;
        width: 30px;
    }
    #page2-bottom {
        flex-direction: column;
    }
    #page2-bottom h1 {
        width: 100%;
        font-size: 6vw;
        line-height: 7vw;
    }
    #bottom-part2 {
        width: 100%;
        margin-top: 10vw;
    }
    #bottom-part2 p {
       font-size: 5vw;
    }
    .elem h2 {
        font-size: 5vw;
    }
    #page3-top h4 {
        font-size: 5.3vw;
    }
    #fixed-image {
        display: none;
    }
    #box-page4 {
        flex-direction: column;
    }
    #page4-box {
        width: 100%;
    }

    #page4-box:nth-child(1) {
        padding: 4vw;
    }
    #page4-box h1 {
        font-size: 6vw;
    }
    .page4-left p {
        margin-top: 6vw;
        font-size: 5vw;
    }
    .swiper-slide p {
        font-size: 4vw;
    }
    .swiper-slide {
        width: 53%;
    }
    #page6 {
     min-height: 0;
    }
    #footer {
        min-height: 0;
    }
    #footer-div h2 {
        font-size: 5vw;
    }
    .right-footer p {
        font-size: 4.5vw;
    }
    .right-footer input {
        font-size: 5.3vw;
    }
    #footer-end {
        flex-direction: column;
    }
    #loder h1{
       scale: 2.8;
    }
    
    
}

#loder{
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 999;
    position: fixed;
    top: 0;
    transition: 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loder h1{
    color: transparent;
    font-size: 4vw;
    background: linear-gradient(to right ,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1.1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loder h1:nth-child(2){
    animation-delay: 2s;
}
#loder h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
